<footer class="footer">
	<div class="container clearfix">
		<div class="footer-logo">
			<a class="footer-link" href="#"><img class="logo" src="https://www.careerbuilder.co.in/cdn/assets/logos/cb_logo_navy-ab200ca1c424d7ed54bf9146c14feaf90cf7089f23d239351305b9a18478f916.svg" alt="CB"></a>
		</div>
		<div class="footer-column-wrap">
			<div class="footer-column">
				<div class="column-title">
					Job Seekers
					<i class="mobile fa fa-angle-down"></i>
				</div>
				<div class="links">Browse Job</div>
				<div class="links">Next Job</div>
				<div class="links">Salary Tool</div>
				<div class="links">Talent Networks</div>
			</div>
			<div class="footer-column">
				<div class="column-title">
					Employers
					<i class="mobile fa fa-angle-down"></i>
				</div>
				<div class="links">Browse Products</div>
				<div class="links">Post Jobs</div>
				<div class="links">Recruting Solutions</div>
				<div class="links">Screening</div>
				<div class="links">HCM</div>
				<div class="links">Advertise with us</div>
			</div>
			<div class="footer-column">
				<div class="column-title">
					Careerbuilder
					<i class="mobile fa fa-angle-down"></i>
				</div>
				<div class="links">About Us</div>
				<div class="links">Work at CareerBuilder</div>
				<div class="links">Legal</div>
			</div>
			<div class="footer-column">
				<div class="column-title">
					Help Center
					<i class="mobile fa fa-angle-down"></i>
				</div>
				<div class="links">Manage Email</div>
				<div class="links">Reset Password</div>
				<div class="links">Customer Support</div>
			</div>
			<div class="footer-column">
				<div class="column-title">
					Search on the go
					<i class="mobile fa fa-angle-down"></i>
				</div>
				<div class="links links-img"><img src="https://www.careerbuilder.com/cdn/assets/us/appstore-1008edfd938f80baec0bdd38b972dbee74ad6d3f35f6e03fccb81e0ec3f4c77d.svg" /></div>
				<div class="column-title">
					Stay Connected
					<i class="mobile fa fa-angle-down"></i>
				</div>
				<div class="links">Manage Email</div>
			</div>
			<div class="footer-column">
				<div class="column-title">
					 &nbsp;
				</div>
				<div class="links links-img"><img src="https://www.careerbuilder.com/cdn/assets/us/googleplay-11db10a1f993e5d7e34f0801391ef17d915b74ac2126f81ae1f2b11ea449c4eb.svg" /></div>
			</div>
		</div>
	</div>
</footer>