<header class="header">
	<div class="container clearfix">
		<div class="left header-logo">
			<a class="header-link" href="#"><img class="logo" src="../assets/cb_logo.svg" alt="CB"></a>
		</div>
		<div id="menu-icon-block" class="right mobile menu-icon-block">
			<img src="https://www.careerbuilder.com/cdn/assets/us/icons/icon-hamburger-12c40448451d757b911ea5af02ed42b01e1660f2020ed344e2e0926363a079f0.svg" />
		</div>
		<div id="menu-block" class="menu-block">
			<nav class="left menu">
				<a class="active" href="#">Jobs</a>
				<a href="#">Companies</a>
				<a href="#">Upload/Build Resume</a>
				<a href="#">Career Development & Learning</a>
			</nav>
			<div class="left header-links">
				<a href="#">Sign In</a>
				<span class="separator-v"></span>
				<a href="#">Sign Up</a>
				<span class="separator-v"></span>
				<a href="#">Post Job</a>
			</div>
		</div>
	</div>
</header>