<div class="sidebar">
	<div class="job-block active clearfix">
		<div class="job-image left"><i class="fa fa-camera-retro fa-5x"></i></div>
		<div class="left">
			<div class="job-title">Computer Service Representative</div>
			<div class="job-fav"></div>
			<div class="job-desc">
				<div class="job-location">Robert Half | Atlanta, GA</div>
				<div class="job-rate">$14.00-15.00/hour</div>
			</div>
			<div class="job-match">
				<div class="circles">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<div class="match-text">Great Match</div>
			</div>
		</div>
	</div>
	<div class="job-block clearfix">
		<div class="job-image left"><i class="fa fa-camera-retro fa-5x"></i></div>
		<div class="left">
			<div class="job-title">Computer Service Representative</div>
			<div class="job-fav"></div>
			<div class="job-desc">
				<div class="job-location">Robert Half | Atlanta, GA</div>
				<div class="job-rate">$14.00-15.00/hour</div>
			</div>
			<div class="job-match">
				<div class="circles">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<div class="match-text">Great Match</div>
			</div>
		</div>
	</div>
	<div class="job-block clearfix">
		<div class="job-image left"><i class="fa fa-camera-retro fa-5x"></i></div>
		<div class="left">
			<div class="job-title">Computer Service Representative</div>
			<div class="job-fav"></div>
			<div class="job-desc">
				<div class="job-location">Robert Half | Atlanta, GA</div>
				<div class="job-rate">$14.00-15.00/hour</div>
			</div>
			<div class="job-match">
				<div class="circles">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<div class="match-text">Great Match</div>
			</div>
		</div>
	</div>
	<div class="job-block clearfix">
		<div class="job-image left"><i class="fa fa-camera-retro fa-5x"></i></div>
		<div class="left">
			<div class="job-title">Computer Service Representative</div>
			<div class="job-fav"></div>
			<div class="job-desc">
				<div class="job-location">Robert Half | Atlanta, GA</div>
				<div class="job-rate">$14.00-15.00/hour</div>
			</div>
			<div class="job-match">
				<div class="circles">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<div class="match-text">Great Match</div>
			</div>
		</div>
	</div>
	<div class="job-block clearfix">
		<div class="job-image left"><i class="fa fa-camera-retro fa-5x"></i></div>
		<div class="left">
			<div class="job-title">Computer Service Representative</div>
			<div class="job-fav"></div>
			<div class="job-desc">
				<div class="job-location">Robert Half | Atlanta, GA</div>
				<div class="job-rate">$14.00-15.00/hour</div>
			</div>
			<div class="job-match">
				<div class="circles">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<div class="match-text">Great Match</div>
			</div>
		</div>
	</div>
	<div class="job-block clearfix">
		<div class="job-image left"><i class="fa fa-camera-retro fa-5x"></i></div>
		<div class="left">
			<div class="job-title">Computer Service Representative</div>
			<div class="job-fav"></div>
			<div class="job-desc">
				<div class="job-location">Robert Half | Atlanta, GA</div>
				<div class="job-rate">$14.00-15.00/hour</div>
			</div>
			<div class="job-match">
				<div class="circles">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<div class="match-text">Great Match</div>
			</div>
		</div>
	</div>
</div>