<div class="sub-header">
	<div class="container clearfix">
		<div class="left search-block">
			<input type="text" name="search" placeholder="seach for job, city" />
			<button class="search-btn"><i class="fas fa-search" aria-hidden="true"></i></button>
		</div>
		<div id="filters-icon-block" class="right mobile filters-icon-block">
			<img src="https://www.careerbuilder.com/cdn/assets/us/icons/filter-fa597cb7f168acabbc4851b8a5338e80823d817085f51be70f94c31ef8eb1066.svg" />
		</div>
		<div id="filters-block" class="left filters-block">
			<select id="" class="desktop-left">
				<option value="">Job Type</option>
				<option value="1">All</option>
				<option value="1">Full Time</option>
				<option value="1">Part Time</option>
				<option value="1">Contractor</option>
				<option value="1">Contract to Hire</option>
				<option value="1">Intern</option>
				<option>Seasonal / Temp</option>
			</select>
			<select id="" class="desktop-left">
				<option value="">Date Posted</option>
				<option value="1">24 hours</option>
				<option value="1">3 days</option>
				<option value="1">7 days</option>
				<option value="1">30 days</option>
			</select>
			<select id="" class="desktop-left">
				<option value="">Pay</option>
				<option value="">Free</option>
				<option value="">10% Waivier</option>
				<option value="">After Booking</option>
			</select>
			<select id="" class="desktop-left">
				<option value="">Distance</option>
				<option value="1">5 miles</option>
				<option value="1">10 miles</option>
				<option value="1">30 miles</option>
				<option value="1">50 miles</option>
			</select>
			<select id="" class="desktop-left">
				<option value="">Location</option>
				<option value="1">Dragonstone </option>
				<option value="1">Stairs to Dragonstone</option>
				<option value="1">King's Landing</option>
				<option value="1">Winterfell </option>
				<option value="1">Beyond the Wall</option>
			</select>
		</div>
	</div>
</div>